@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

.fontworksans {
    font-family: 'Work Sans', sans-serif;
}

.fontforum {
    font-family: 'Forum', cursive;
}

body {
    background-color: gray;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5% 0.5%;
    position: fixed;
    background-color: rgb(116, 177, 246);
    width: 100%;
    color: white;
    box-shadow: 2px 2px 3px rgb(31, 31, 31);
}

header > nav {
    display: flex;
    gap: 7%;
}

.abaixotitulo {
    background-image: url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left bottom;
    height: 40vh;
}

.divsmain {
    background-color: rgb(255, 255, 255);
    padding: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.textomain{
    width: 120%;
}

.fotomain {
    
    width: 80%;
}
